.lock {
	overflow:hidden;
	touch-action:none;
}

div{
	margin: 0;
	padding: 0;
}

.mobile {

}


.alert_view_layer {
    position:fixed;
	overflow:auto;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:100001;
	-webkit-will-change:background;
	will-change:background;
}

div.alert_view {
    position:absolute;
	/*padding:0 5px;*/
	width:70%;
	max-width:320px;
	height:auto;
	max-height: 500px;
	background:#fff;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-90%);
	transform:translate(-50%,-90%);
	border-radius:8px;
}

.alert_view>.alert_title {
	margin: 16px 10px 10px 10px;
	line-height: 16px;
	font-size: 16px;
	font-family: HiraginosansGB-W3;
	color: rgb(102,102,102);
	text-align: left;
	height: 16px;
	width: 160px;
}

.alert_view>.close_view {
	position: absolute;
	top: 11px;
	right: 10px;
	width: 22px;
	height: 22px;
	background: url(../../../../assets/images/healthEvaluate/close_ion.png) no-repeat;
	background-size: 100%;
}

.alert_view>.alert_line, .alert_line {
	height: 1px;
	width: 100%;
	background-color: rgba(170, 170, 170,0.5);
}

.alert_view>.alert_items_bg {
	margin: 10px 15px 10px 12px;
	/*background-color: rgba(51,51,51,0.4);*/
	
	
	/*重点*/
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
    .alert_view>.alert_items_bg {
        margin: 10px 15px 40px 12px;

        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.alert_view>.alert_items_bg>div {
	height: auto;

	width: fit-content;
	width:-webkit-fit-content;
	width:-moz-fit-content;
}

.alert_view>.alert_items_bg>.title_containter>.item_title, .item_title {
	font-size: 14px;
	height: 14px;
	line-height: 14px;
	color: rgb(102,102,102);
	text-align: right;
	padding: 6px 0px;
}

.alert_view>.alert_items_bg>.color_containter {
	/*padding: 20px 20px;*/
	width: 100px;
	/*height: 10px;*/
	margin: 0px 10px;
	
	/*重点-- 如果存在剩余空间定义flex项目的放大比例，默认为0 */
	flex-grow:2;
	font-size: 0;
}

.alert_view>.alert_items_bg>.color_containter>.item_color_bg {
	background-color:rgba(170,170,170,0.3); 
	width:100%; 
	height:10px;
	border-radius: 5px;
	
	margin: 8px 0px; 
	/*margin 会发生重叠, 用 inline-block 解决*/
	display:inline-block;
}


.alert_view>.alert_items_bg>.subtitle_containter>.item_subtitle {
	text-align: left;
	font-size: 11px;
	height: 14px;
	line-height: 14px;
	color: rgba(170,170,170,1);
	padding: 6px 0px;
	
}

.alert_view>.alert_items_bg>.conclusion_containter {
	/*margin-start:auto;*/
	margin:10px 0px;
}

.alert_view>.conclusion_containter>.conclusion_title {
	font-size: 15px;
	height: 20px;
	line-height: 15px;
	color: rgb(102,102,102);
	padding: 6px 8px;
	text-align:left;
}

.alert_view>.conclusion_containter>.conclusion_title:last-child {
	font-size: 14px;
	color: rgb(102,102,102);
	line-height:20px; 
	text-align:left; 
}

.alert_view>.conclusion_containter>.conclusion_subtitle {
	font-size: 14px;
	line-height: 20px;
	color: rgb(102,102,102);
	padding: 6px 8px;
	text-align:left;
}
