$bgColor = #00bcd4
$darkTextColor = #333
$headerHeight = .86rem
$marginTop=px2rem(120px)
$title34=px2rem(34px)
title_h2()
  font-size:px2rem(34px)
  color:#333
  text-align:left
  line-height:px2rem(40px)
  font-weight:normal
  margin-bottom:px2rem(20px)
btn()
  margin-top:20px
  -webkit-border-radius:20px
  border-radius: 20px


//适配
px2rem($px)
  $rem=75
  $rem=$px/$rem
  $rem=unit($rem,rem)

.health_content
    background-color:#f5f5f5





