  @import 'varibles.styl';
 .health_content
     background-color:#f5f5f5
     padding-top:px2rem(20)
    &>.lately
        height:px2rem(250)
        border-top:1px solid #eee
        border-bottom:1px solid #eee
        box-sizing:border-box
        background:#fff
        margin:px2rem(20) auto
        margin-top:0
        color:#444
        &>ul
          display:flex
          margin:px2rem(60) auto
          justify-content :center
          width:95%
          &>li
             flex:1
             margin-left:8%
             text-align:left
             &>p.sugar
              font-size:px2rem(30)
              color:#00cbe9
              margin-top:px2rem(20)
             &>h4
               font-size:px2rem(26)
               margin:px2rem(20) 0 px2rem(20) 0
               padding-right:px2rem(48)
               float:right
             &>p
               font-size:px2rem(60)
               &>span
                 font-size:px2rem(24)
                 color:#999
             &>p>span
              font-size:px2rem(24)
              color:#999    
  .lately_title
    font-size:px2rem(36)
    position:relative
    top:px2rem(20)
    &:before
      content:""
      background-color : #e2e2e3
      width:36%
      height:1px
      position:absolute
      left:0
      top:50%
    &:after
      content:""
      background-color : #e2e2e3
      width:36%
      height:1px
      position:absolute
      right:0
      top:50%
  .blood-status
       font-size:px2rem(40) !important
       margin-top:px2rem(20)
       color:red
  .trendMap
    position: relative
    background: #ffffff
    border-top:1px solid #eee
    border-bottom:1px solid #eee
    height:px2rem(620)
    &>div
       margin-top:px2rem(58) !important
  .health_btn
     font-size:px2rem(34)
     margin-top:px2rem(50)
     &>a
       color:#fefffd
       display:inline-block
       width:px2rem(232)
       height:px2rem(60)
       text-align:center
       line-height:px2rem(60)
       border-radius :120px
       border:1px solid #008dfd
       margin-left:5%
       margin-right:5%
       background:#008efe;
   .report_btn
     font-size:px2rem(16)
     position:absolute
     left:px2rem(320)
     top:px2rem(35)
     z-index: 3
     font-weight:bold
     &>a
       color:#008efe
       display:inline-block
       width:px2rem(180)
       height:px2rem(50)
       text-align:center
       line-height:px2rem(50)
       border-radius :120px
       border:1px solid #008efe
  .color1 {
    color: #50f3f3;
  }
  .color2 {
    color: #00cbe9;
  }
  .color3 {
    color: #fe8b31;
  }
  .color4 {
    color: #ffc635;
  }
  .color5 {
    color: #fe8b31;
  }
  .color6 {
    color: #ff3b3b;
  }