 /* 覆盖 mint-ui 原始样式 */
 /* 源码地址 https://cdn.bootcss.com/mint-ui/2.2.13/actionsheet/style.css */
$borderRadius : 10px;

 .mint-actionsheet {
   /* 源码
  position: fixed;
  background: #e0e0e0;
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  */
  width: 98%;
  background: transparent;
}
.mint-actionsheet-list {
  /* 源码
  list-style: none;
  padding: 0;
  margin: 0;
  */
  
  li:nth-last-child(1){
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
  }
  li:first-child{
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
  }
}
// action-sheet样式
.mint-actionsheet-listitem, .mint-actionsheet-button {
  /* 源码
  display: block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-size: 18px;
  color: #333;
  background-color: #fff;
  */

}

.mint-actionsheet-button {
  color:red;
  border-top-left-radius: $borderRadius;
  border-top-right-radius: $borderRadius;
}

// 导航栏栏样式
.mint-header.title {
  font-size: 17px;
  background-color: $primary-color;
}

.mint-header.title.is-fixed {
  @include respond-to(iPhone_X_Xs iPhone_XsMax iPhone_XR){
    padding-top: 50px;
    padding-bottom: 20px;
  }
  @include respond-to(iPhone5 iPhone6_7_8 iPhone6P_7P_8P){
    padding-top: 44px;
    padding-bottom: 20px;
  }
}

// 首页顶部tab栏样式
.mint-navbar {
  position: fixed;
  top: 40px;
  z-index: 3;
  width: 100%;
  height: 30px;
  background-color: white;

  @include respond-to(iPhone_X_Xs iPhone_XsMax iPhone_XR){
    top: 70px;
  }
  @include respond-to(iPhone5 iPhone6_7_8 iPhone6P_7P_8P){
    top: 64px;
  }
}
.mint-navbar .mint-tab-item-label {
  font-size: 14px;
}
.mint-navbar .mint-tab-item {
  padding: 9px 0 0 0;
}