
//字体
$font-size-small: px2rem(24);
$font-size-base: px2rem(28);
$font-size-medium: px2rem(32);
$font-size-big: px2rem(36);
$font-size-large: px2rem(40);
$font-size-xl: px2rem(44);
$font-size-xxl: px2rem(48);

//文字颜色
$text-body-primary: #666;
$text-body-second: #333;

$text-primary: #2283f5;
$text-success: #67C23A;
$text-info: #71ACFF;
$text-warning: #f09b06;
$text-danger: #FF5050;
$text-mute: #9f9f9f;

//其他颜色
$primary-color: #008dfd;
$background-color: #fafafa;
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

//边框
$border-color-base: #ddd;
$border-radius-base: 4px;
$border-radius-sm: 2px;
$border-radius-md: 5px;

//占比
$flex-column: 10;

//间距
$padding-small: 5px;
$padding-base: 10px;
$padding-medium: 15px;
$padding-large: 20px;
$padding-xl: 25px;
$padding-xxl: 30px;

//链接
$link-color-base: #108ee9;

//图片
$img-size: 70px;
$img-size-sm: 60px;

//屏幕
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1200px !default;

$screen-sm-min: $screen-sm !default;
$screen-md-min: $screen-md !default;
$screen-lg-min: $screen-lg !default;

//导航栏高度（刘海屏与普通屏）
$navBar-height-liuHai: 70px;
$navBar-height-normal: 64px;

//主页顶部的tab标签高度
$rootpage-tab-height: 30px;

.clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.fl {
    float: left !important;
}

.fr {
    float: right !important;
}

.hidden {
    display: none;
}

.inline-block {
    display: inline-block !important;
}

.dis-table {
    display: table;
    width: 100%;
}

.dis-cell {
    display: table-cell;
    vertical-align: middle;
}

.block {
    display: block !important;
}

.vertical-middle {
    vertical-align: middle !important;
}

.vertical-top {
    vertical-align: top !important;
}

.pad {
    padding: $padding-base !important;
}

.pad-0 {
    padding: 0 !important;
}

.pad-sm {
    padding: $padding-small !important;
}

.pad-md {
    padding: $padding-medium !important;
}

.pad-lg {
    padding: $padding-large !important;
}

.pad-xl {
    padding: $padding-xl !important;
}

.pad-xxl {
    padding: $padding-xxl !important;
}

.pad-t {
    padding-top: $padding-base !important;
}

.pad-t-0 {
    padding-top: 0 !important;
}

.pad-t-sm {
    padding-top: $padding-small !important;
}

.pad-t-md {
    padding-top: $padding-medium !important;
}

.pad-t-lg {
    padding-top: $padding-large !important;
}

.pad-t-xl {
    padding-top: $padding-xl !important;
}

.pad-t-xxl {
    padding-top: $padding-xxl !important;
}

.pad-r {
    padding-right: $padding-base !important;
}

.pad-r-0 {
    padding-right: 0 !important;
}

.pad-r-sm {
    padding-right: $padding-small !important;
}

.pad-r-md {
    padding-right: $padding-medium !important;
}

.pad-r-lg {
    padding-right: $padding-large !important;
}

.pad-r-xl {
    padding-right: $padding-xl !important;
}

.pad-r-xxl {
    padding-right: $padding-xxl !important;
}

.pad-b {
    padding-bottom: $padding-base !important;
}

.pad-b-0 {
    padding-bottom: 0 !important;
}

.pad-b-sm {
    padding-bottom: $padding-small !important;
}

.pad-b-md {
    padding-bottom: $padding-medium !important;
}

.pad-b-lg {
    padding-bottom: $padding-large !important;
}

.pad-b-xl {
    padding-bottom: $padding-xl !important;
}

.pad-b-xxl {
    padding-bottom: $padding-xxl !important;
}

.pad-l {
    padding-left: $padding-base !important;
}

.pad-l-0 {
    padding-left: 0 !important;
}

.pad-l-sm {
    padding-left: $padding-small !important;
}

.pad-l-md {
    padding-left: $padding-medium !important;
}

.pad-l-lg {
    padding-left: $padding-large !important;
}

pad-l-xl {
    padding-left: $padding-xl !important;
}

.pad-l-xxl {
    padding-left: $padding-xxl !important;
}

.mrg {
    margin: $padding-base !important;
}

.mrg-0 {
    margin: 0 !important;
}

.mrg-sm {
    margin: $padding-small !important;
}

.mrg-md {
    margin: $padding-medium !important;
}

.mrg-lg {
    margin: $padding-large !important;
}

.mrg-xl {
    margin: $padding-xl !important;
}

.mrg-xxl {
    margin: $padding-xxl !important;
}

.mrg-t {
    margin-top: $padding-base !important;
}

.mrg-t-0 {
    margin-top: 0 !important;
}

.mrg-t-sm {
    margin-top: $padding-small !important;
}

.mrg-t-md {
    margin-top: $padding-medium !important;
}

.mrg-t-lg {
    margin-top: $padding-large !important;
}

.mrg-t-xl {
    margin-top: $padding-xl !important;
}

.mrg-t-xxl {
    margin-top: $padding-xxl !important;
}

.mrg-r {
    margin-right: $padding-base !important;
}

.mrg-r-0 {
    margin-right: 0 !important;
}

.mrg-r-sm {
    margin-right: $padding-small !important;
}

.mrg-r-md {
    margin-right: $padding-medium !important;
}

.mrg-r-lg {
    margin-right: $padding-large !important;
}

.mrg-r-xl {
    margin-right: $padding-xl !important;
}

.mrg-r-xxl {
    margin-right: $padding-xxl !important;
}

.mrg-b {
    margin-bottom: $padding-base !important;
}

.mrg-b-0 {
    margin-bottom: 0 !important;
}

.mrg-b-sm {
    margin-bottom: $padding-small !important;
}

.mrg-b-md {
    margin-bottom: $padding-medium !important;
}

.mrg-b-lg {
    margin-bottom: $padding-large !important;
}

.mrg-b-xl {
    margin-bottom: $padding-xl !important;
}

.mrg-b-xxl {
    margin-bottom: $padding-xxl !important;
}

.mrg-l {
    margin-left: $padding-base !important;
}

.mrg-l-0 {
    margin-left: 0 !important;
}

.mrg-l-sm {
    margin-left: $padding-small !important;
}

.mrg-l-md {
    margin-left: $padding-medium !important;
}

.mrg-l-lg {
    margin-left: $padding-large !important;
}

.mrg-l-xl {
    margin-left: $padding-xl !important;
}

.mrg-l-xxl {
    margin-left: $padding-xxl !important;
}

.margin-horizontal-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-body-primary {
    color: $text-body-primary;
}

.text-body-second {
    color: $text-body-second;
}

.text-primary {
    color: $text-primary;
}

.text-success {
    color: $text-success;
}

.text-info {
    color: $text-info;
}

.text-warning {
    color: $text-warning;
}

.text-danger {
    color: $text-danger;
}

.text-mute {
    color: $text-mute;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-through {
    text-decoration: line-through;
}

.text-strong {
    font-weight: bold;
}

.bfc {
    overflow: hidden;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.border-box {
    box-sizing: border-box;
}

.content-box {
    box-sizing: content-box;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.text-nowrap {
    white-space: nowrap;
}

.text-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.text-strong {
    font-weight: bold;
}

.text-weight-normal {
    font-weight: normal;
}

.line-normal {
    line-height: normal;
}

.radius {
    border-radius: $border-radius-base;
}

.radius-sm {
    border-radius: $border-radius-sm;
}

.radius-md {
    border-radius: $border-radius-md;
}

.font-size-small {
    font-size: $font-size-small;
}

.font-size-base {
    font-size: $font-size-base;
}

.font-size-medium {
    font-size: $font-size-medium;
}

.font-size-big {
    font-size: $font-size-big;
}

.font-size-large {
    font-size: $font-size-large;
}

.font-size-xl {
    font-size: $font-size-xl;
}

.font-size-xxl {
    font-size: $font-size-xxl;
}

.img-response {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.img-circle {
    border-radius: 50%;
}

.img-size {
    width: $img-size;
    height: $img-size;
}

.img-size-sm {
    width: $img-size-sm;
    height: $img-size-sm;
}

//盒子布局
.flex-container {
    display: flex;
    display: -webkit-flex;
}

.flex-direction-column {
    -webkit-flex-flow: column;
    flex-flow: column;
    flex-direction: column;
}

.stretch {
    align-items: stretch;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.normal-page-box {
    background:$background-color;
    margin-top: $navBar-height-liuHai;

    @include respond-to(iPhone_X_Xs iPhone_XsMax iPhone_XR){
      margin-top: $navBar-height-liuHai;
    }
    @include respond-to(iPhone5 iPhone6_7_8 iPhone6P_7P_8P){
      margin-top: $navBar-height-normal;
    }
}

.root-page-box {
    background:$background-color;
    margin-top: $navBar-height-liuHai;

    @include respond-to(iPhone_X_Xs iPhone_XsMax iPhone_XR){
      margin-top: $navBar-height-liuHai + $rootpage-tab-height;
    }
    @include respond-to(iPhone5 iPhone6_7_8 iPhone6P_7P_8P){
      margin-top: $navBar-height-normal + $rootpage-tab-height;
    }
}

.health_content {
    background-color:$background-color
}