/*文字颜色
最浅 rgb(170, 170, 170)
稍浅 rgb(153, 153, 153)
正常 rgb(102, 102, 102)
最黑 rgb(51, 51, 51)
蓝色 rgb(0, 141, 253)
红色 rgb(255, 0, 0)
暗红色 #d91f1f
颜色条 rgb(242,242,242)
*/

body,div,section {
	margin: 0;
	padding: 0;
	height: 100%;
}

span {
	font-family: SimHei,"微软雅黑",sans-serif;
}

a,button,input {
	-webkit-tap-highlight-color:rgba(255,0,0,0);
}

body { -webkit-user-select:none;}

#content { display: none;}

.foot_links {
	position:relative;
	bottom: 10px;
	top: 10px;
	left:0;
	height: 30px;
	width: 100%;
}

.foot_links button {
	color: rgb(0, 141, 253);
	font-size: 14px;
	width: 100px;
	border:none;
	outline: none;
	background: none;
	position: absolute;
}

.perfect_userInfo {
	position: fixed;
	right: 15px;
	bottom: 20px;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	border: 3px solid rgb(214, 237, 251);
	box-shadow: 0 0 10px rgb(214, 237, 251);
	z-index: 100;
	background: white;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

.perfect_userInfo span {
	color:rgb(0,174,255);
	font-size: 15px;
	letter-spacing: 2px;
	line-height: 20px;
	text-align: center;

	position: absolute;
	top: 10px;
	left: 10px;
	width: 40px;
	height: 40px;
	/*background-color: blue;*/
}


#score_synthesize {
	padding-top: 10px;
	padding-bottom: 5px;
}

.head_title_text {
	color: rgb(51, 51, 51); 
	font-size:14px;
	padding-left: 15px;
	padding-right: 10px;
}

.head_content_text {
	color: red; font-size: 16px;
}

#score_details {
	width: 100%;
	height: 250px;
	 margin-bottom: -10px;
}

#score_details svg {
/*	background-color: rgba(170,170,170,0.6);
*/	width:300px;
	height:200px;
	/*根据尺寸计算坐标*/
	margin: calc((280px - 200px)/2) calc(50% - 200px);
}

.report_radius {
	width: 90px;
	height: 90px;
	border-radius: 45px;
	text-align: center;
	position: absolute;
	color: #fff!important;
	display: inline-block;

	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

/*顶部--生理分数*/
#report_radius_1 {
	background-color: rgb(37,191,255);
	top: 45px;
	right: calc(50% - 45px);
	right:-webkit-calc(50% - 45px);
}

#report_radius_2 {
	background-color: rgb(255, 164, 57);
	top: 160px;
	left: calc(50% - 130px);
	left:-webkit-calc(50% - 130px);
}

#report_radius_3 {
	background-color: rgb(0, 200, 132);
	top: 160px;
	right: calc(50% - 130px);
	right:-webkit-calc(50% - 130px);
}

.report_radius_span {
	height: 24px;
	line-height: 24px;
	padding-top: 20px;
}

.report_radius span {
	display: block;
	font-size: 20px;
	padding-top: -10px;

}

#score_comment {
	padding-bottom: 15px;
	padding-left: 10px;
}
#middle_span_comment {
	color: rgb(153, 153, 153); 
	font-size: 14px;
	font-family: HiraginosansGB-W3;
}

div#suggetion ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: auto;
	/*height: 40px;*/
}

div#suggetion ul li {
	float: left;  /* 向左漂移，将竖排变为横排 */
	width: 25%;
	height: 30px;
	border-bottom: 0.5px rgb(200, 200, 200) solid;
}

div#suggetion ul li a, div#suggetion ul li a {
	text-align: center;
	color: rgb(102, 102, 102);
	font-size: 15px;
	font-family: HiraginosansGB-W3;
	display: block;
	line-height: 30px;
	text-decoration: none;
}

div#suggetion ul li a.seleted_li_a, div#suggetion ul li a:active  {
	color: rgb(0, 141, 253);
	border-bottom: 2px rgb(0, 141, 253) solid;
}

 
.suggetion_content_text {
	line-height: 22px;
	padding-left: 10px;
	padding-right: 10px;
	color: rgb(51,51,51);
	text-align: left;
	font-size: 14px;
}

.noRecord_background {
	text-align:center;
	margin-top:40px;
}
.noRecord_background>div {
	display: inline-block;
	width:150px; 
	height:100px;
	border-style:none;
	background: url(../img/noRecord.png) no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%;
	-webkit-background-size:100% 100%;
}

.nodata_text{
	height: 100%;
}

/*//////////////*/
/*饮食建议组件样式*/
/*//////////////*/

.food_recommend_text {
	font-size: 14px;
	color: rgb(51,51,51);
	line-height: 20px;
	padding-left: 10px;
	padding-top: 40px;
	white-space:pre-wrap;
}

.food_recommend_text strong {
	color:rgb(0, 141, 253);
}

.chart_background {
	display: -webkit-flex; /* Safari */
  	display: flex;
  	flex-direction:column;
  	flex-wrap: wrap;
  	justify-content: space-between;
  	height: 150px;
  	margin-top: 10px;
  	margin-bottom: 10px;
  	/*background: red;*/
}

.chart_background_after {
	height: 15px;
	width: 100%;
	background: rgb(242,242,242);
}

.chart_item {
	width: 100px;
	height: 50px;
	position: relative;
	/*background: green;*/
}

.right_chart_item {
	margin-left: calc(100% - 2*100px);
}

.chart_item div {
	height: 20px;
	color: rgb(51,51,51);
	line-height: 20px;
	font-size: 14px;
	position: absolute;
}

.chart_item img {
	width:28px;
	height:28px;
	left: 10px;
	top: calc((50px - 28px)/2);
	position: absolute;
}

.chart_item .chart_item_title {
	left: 42px;
	top: 8px;
}

.chart_item .chart_item_percent {
	left: 42px;
	top: 28px;
}

.chart_circle {
	width: 300px;
	height: 150px;
	
	flex: 1;
	text-align: center;
	margin-left: calc(-150px - 50%);
	margin-top: 10px;
}


.categary_list::before {
	content:"常见食物举例";
	height: 36px;
	line-height: 36px;
	color: rgb(51,51,51);
	font-size: 15px;
	padding-left: 10px;
}

.categary_cell .food_categary_subtitle {
	padding-left: 10px;
	font-size: 14px;
	font-weight: bold;
	color: black;
	border: 1px rgb(242,242,242) solid;
	height: 32px;
	line-height: 32px;
}

.categary_cell .food_categary_content {
	/*height: 60px;*/
	/*width: 100%;*/
	/*background: red;*/
}

.categary_cell  .food_categary_content .food_categary_item {
	display: inline-block;
	width: 33.33%;
	text-align: center;
	color: rgb(51,51,51);
	font-size: 14px;
	line-height: 20px;
	padding-top: 10px;
	padding-bottom: 6px;
}

.red_tips {
	color: #d91f1f;
	font-size: 14px;
	line-height: 20px;
	padding:8px 10px;
	border: 1px solid rgb(242,242,242);
	border-width:1px 0;
	white-space:pre-wrap;
}


/*//////////////*/
/*运动建议组件样式*/
/*//////////////*/
.sport_title_text {
	color: rgb(51,51,51);
	font-size: 15px;
}

.sport_content_text {
	color: rgb(51,51,51);
	font-size: 14px;
}

.sport_subtitle_text {
	color: rgb(102,102,102);
	font-size: 12px;
}

.sport_plan_header {
	 height:40px;
}

.sport_plan_header .sport_title_text {
	display: inline-block;
	line-height: 40px;
}

.sport_plan_header .sportImg_container{
	display: inline-block;
	width: 32px;
	height:20px;
	text-align: center;
	vertical-align: middle;
	padding-left: 4px;
}

.sport_plan_header .sportImg_container img {
	width:20px; 
	height:20px; 
}

.dayItem_container .dayItem {
	display: inline-block;
	width: 14.28%;
	text-align: center;
	
	/*padding-bottom: 6px;*/
}

.dayItem_container .dayItem .sport_day_title{
	line-height: 36px;
}

.dayItem_container .dayItem .sport_time_title{
	line-height: 16px;
	padding-top: 5px;
}

.sport_plan_state strong  {
	color:rgb(0, 141, 253);
}

