    /*
    Icon classes can be used entirely standalone. They are named after their original file names.

    Example usage in HTML:
    // HTML
    <i class="icon-home"></i>
    */
.icon-arrow-right {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(12);
    height: px2rem(22);
    background-image: url(../../images/sprite.png?v=1564363944370);
    background-position: px2rem(0) px2rem(0);
    background-size: px2rem(57) px2rem(1197);
    /*background-position: 0px 0px;
    background-size: 57px 1197px; */
}

.icon-warning {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(26);
    height: px2rem(26);
    background-image: url(../../images/sprite.png?v=1564363944370);
    background-position: px2rem(0) px2rem(-22);
    background-size: px2rem(57) px2rem(1197);
    /*background-position: 0px -22px;
    background-size: 57px 1197px; */
}

.icon-help {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(26);
    height: px2rem(26);
    background-image: url(../../images/sprite.png?v=1564363944370);
    background-position: px2rem(0) px2rem(-48);
    background-size: px2rem(57) px2rem(1197);
    /*background-position: 0px -48px;
    background-size: 57px 1197px; */
}

.icon-search {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(28);
    height: px2rem(28);
    background-image: url(../../images/sprite.png?v=1564363944370);
    background-position: px2rem(0) px2rem(-74);
    background-size: px2rem(57) px2rem(1197);
    /*background-position: 0px -74px;
    background-size: 57px 1197px; */
}

.icon-plus {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(30);
    height: px2rem(30);
    background-image: url(../../images/sprite.png?v=1564363944370);
    background-position: px2rem(0) px2rem(-102);
    background-size: px2rem(57) px2rem(1197);
    /*background-position: 0px -102px;
    background-size: 57px 1197px; */
}

.icon-min {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(30);
    height: px2rem(30);
    background-image: url(../../images/sprite.png?v=1564363944370);
    background-position: px2rem(0) px2rem(-132);
    background-size: px2rem(57) px2rem(1197);
    /*background-position: 0px -132px;
    background-size: 57px 1197px; */
}

.icon-min-off {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(30);
    height: px2rem(30);
    background-image: url(../../images/sprite.png?v=1564363944370);
    background-position: px2rem(0) px2rem(-162);
    background-size: px2rem(57) px2rem(1197);
    /*background-position: 0px -162px;
    background-size: 57px 1197px; */
}

.icon-location {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(29);
    height: px2rem(33);
    background-image: url(../../images/sprite.png?v=1564363944370);
    background-position: px2rem(0) px2rem(-192);
    background-size: px2rem(57) px2rem(1197);
    /*background-position: 0px -192px;
    background-size: 57px 1197px; */
}

.icon-glass {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(30);
    height: px2rem(39);
    background-image: url(../../images/sprite.png?v=1564363944370);
    background-position: px2rem(0) px2rem(-225);
    background-size: px2rem(57) px2rem(1197);
    /*background-position: 0px -225px;
    background-size: 57px 1197px; */
}

.icon-peaceful-on {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(40);
    height: px2rem(40);
    background-image: url(../../images/sprite.png?v=1564363944370);
    background-position: px2rem(0) px2rem(-264);
    background-size: px2rem(57) px2rem(1197);
    /*background-position: 0px -264px;
    background-size: 57px 1197px; */
}

.icon-cheerful {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(40);
    height: px2rem(40);
    background-image: url(../../images/sprite.png?v=1564363944370);
    background-position: px2rem(0) px2rem(-304);
    background-size: px2rem(57) px2rem(1197);
    /*background-position: 0px -304px;
    background-size: 57px 1197px; */
}

.icon-angry-on {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(40);
    height: px2rem(40);
    background-image: url(../../images/sprite.png?v=1564363944370);
    background-position: px2rem(0) px2rem(-344);
    background-size: px2rem(57) px2rem(1197);
    /*background-position: 0px -344px;
    background-size: 57px 1197px; */
}

.icon-happy-on {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(40);
    height: px2rem(40);
    background-image: url(../../images/sprite.png?v=1564363944370);
    background-position: px2rem(0) px2rem(-384);
    background-size: px2rem(57) px2rem(1197);
    /*background-position: 0px -384px;
    background-size: 57px 1197px; */
}

.icon-happy {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(40);
    height: px2rem(40);
    background-image: url(../../images/sprite.png?v=1564363944370);
    background-position: px2rem(0) px2rem(-424);
    background-size: px2rem(57) px2rem(1197);
    /*background-position: 0px -424px;
    background-size: 57px 1197px; */
}

.icon-cheerful-on {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(40);
    height: px2rem(40);
    background-image: url(../../images/sprite.png?v=1564363944370);
    background-position: px2rem(0) px2rem(-464);
    background-size: px2rem(57) px2rem(1197);
    /*background-position: 0px -464px;
    background-size: 57px 1197px; */
}

.icon-angry {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(40);
    height: px2rem(40);
    background-image: url(../../images/sprite.png?v=1564363944370);
    background-position: px2rem(0) px2rem(-504);
    background-size: px2rem(57) px2rem(1197);
    /*background-position: 0px -504px;
    background-size: 57px 1197px; */
}

.icon-low-on {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(40);
    height: px2rem(40);
    background-image: url(../../images/sprite.png?v=1564363944370);
    background-position: px2rem(0) px2rem(-544);
    background-size: px2rem(57) px2rem(1197);
    /*background-position: 0px -544px;
    background-size: 57px 1197px; */
}

.icon-low {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(40);
    height: px2rem(40);
    background-image: url(../../images/sprite.png?v=1564363944370);
    background-position: px2rem(0) px2rem(-584);
    background-size: px2rem(57) px2rem(1197);
    /*background-position: 0px -584px;
    background-size: 57px 1197px; */
}

.icon-peaceful {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(40);
    height: px2rem(40);
    background-image: url(../../images/sprite.png?v=1564363944370);
    background-position: px2rem(0) px2rem(-624);
    background-size: px2rem(57) px2rem(1197);
    /*background-position: 0px -624px;
    background-size: 57px 1197px; */
}

.icon-water {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(44);
    height: px2rem(44);
    background-image: url(../../images/sprite.png?v=1564363944370);
    background-position: px2rem(0) px2rem(-664);
    background-size: px2rem(57) px2rem(1197);
    /*background-position: 0px -664px;
    background-size: 57px 1197px; */
}

.icon-foot {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(44);
    height: px2rem(44);
    background-image: url(../../images/sprite.png?v=1564363944370);
    background-position: px2rem(0) px2rem(-708);
    background-size: px2rem(57) px2rem(1197);
    /*background-position: 0px -708px;
    background-size: 57px 1197px; */
}

.icon-mood {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(44);
    height: px2rem(44);
    background-image: url(../../images/sprite.png?v=1564363944370);
    background-position: px2rem(0) px2rem(-752);
    background-size: px2rem(57) px2rem(1197);
    /*background-position: 0px -752px;
    background-size: 57px 1197px; */
}

.icon-foot-2 {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(44);
    height: px2rem(44);
    background-image: url(../../images/sprite.png?v=1564363944370);
    background-position: px2rem(0) px2rem(-796);
    background-size: px2rem(57) px2rem(1197);
    /*background-position: 0px -796px;
    background-size: 57px 1197px; */
}

.icon-diet {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(44);
    height: px2rem(44);
    background-image: url(../../images/sprite.png?v=1564363944370);
    background-position: px2rem(0) px2rem(-840);
    background-size: px2rem(57) px2rem(1197);
    /*background-position: 0px -840px;
    background-size: 57px 1197px; */
}

.icon-sleep {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(44);
    height: px2rem(44);
    background-image: url(../../images/sprite.png?v=1564363944370);
    background-position: px2rem(0) px2rem(-884);
    background-size: px2rem(57) px2rem(1197);
    /*background-position: 0px -884px;
    background-size: 57px 1197px; */
}

.icon-camera {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(57);
    height: px2rem(49);
    background-image: url(../../images/sprite.png?v=1564363944370);
    background-position: px2rem(0) px2rem(-928);
    background-size: px2rem(57) px2rem(1197);
    /*background-position: 0px -928px;
    background-size: 57px 1197px; */
}

.icon-male-on {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(52);
    height: px2rem(55);
    background-image: url(../../images/sprite.png?v=1564363944370);
    background-position: px2rem(0) px2rem(-977);
    background-size: px2rem(57) px2rem(1197);
    /*background-position: 0px -977px;
    background-size: 57px 1197px; */
}

.icon-male-off {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(52);
    height: px2rem(55);
    background-image: url(../../images/sprite.png?v=1564363944370);
    background-position: px2rem(0) px2rem(-1032);
    background-size: px2rem(57) px2rem(1197);
    /*background-position: 0px -1032px;
    background-size: 57px 1197px; */
}

.icon-female-off {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(44);
    height: px2rem(55);
    background-image: url(../../images/sprite.png?v=1564363944370);
    background-position: px2rem(0) px2rem(-1087);
    background-size: px2rem(57) px2rem(1197);
    /*background-position: 0px -1087px;
    background-size: 57px 1197px; */
}

.icon-female-on {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(44);
    height: px2rem(55);
    background-image: url(../../images/sprite.png?v=1564363944370);
    background-position: px2rem(0) px2rem(-1142);
    background-size: px2rem(57) px2rem(1197);
    /*background-position: 0px -1142px;
    background-size: 57px 1197px; */
}

