.km-header-bar {
    @include layout-fixed(0 10px auto auto, 3);
    @include respond-to(iPhone_X_Xs iPhone_XsMax iPhone_XR){
        @include layout-fixed(30px 10px auto auto, 3);
    }
    @include respond-to(iPhone5 iPhone6_7_8 iPhone6P_7P_8P){
        @include layout-fixed(20px 10px auto auto, 3);
    }
    line-height: 40px;
    color: #fff;
    font-size: px2rem(32);
}

.page-infinite-loading {
    padding-top: 20px;
    text-align: center;

    .mint-spinner-fading-circle {
        margin: auto;
    }
}

.label-radio {
    display: inline-block;
    font-weight: normal;

    > input[type=radio] {
        -webkit-appearance: none;
        position: relative;
        outline: 0;
        border: 0;
        margin: 0;
        padding: 0;
        width: px2rem(32);
        height: px2rem(32);
        background: url("../images/radio.png") no-repeat left top;
        background-size: px2rem(32) px2rem(100);
        vertical-align: text-bottom;
        cursor: pointer;

        &[disabled] {
            opacity: 0.5;
            cursor: not-allowed;
        }

        &:checked {
            background-position: left bottom;
        }

        + * {
            vertical-align: top;
        }
    }
}

.km-arrow-left {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(20);
    height: px2rem(22);
    background: url("../images/arrow-left.png") no-repeat center bottom;
    background-size: px2rem(20) px2rem(100);

    &.disabled {
        background-position: center top;
    }
}

.km-arrow-right {
    display: inline-block;
    vertical-align: middle;
    width: px2rem(20);
    height: px2rem(22);
    background: url("../images/arrow-right.png") no-repeat center bottom;
    background-size: px2rem(20) px2rem(100);

    &.disabled, &.swiper-button-disabled {
        background-position: center top;
    }
}